.coin-wrapper {
  position: relative;
}

.coin-header {
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid rgb(48, 48, 48);
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
  }

  .coin-header img {
    height: 50px;
    width: 50px;
  }

  .coin-header h1 {
    padding-left: 20px;
  }

  .coin-info {
    padding: 150px 20px 20px;
    min-height: 100vh;
  }

  .coin-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .coin-buy-btn {
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 10px;
    background-color: rgb(185, 1, 185);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .coin-buy-btn:hover {
    background-color: rgb(231, 89, 231);
    transition: all 0.1s ease-in-out;
  }

  .coin-buy-btn:active {
    background-color: purple;
  }

  .coin-price-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    height: 200px;
    font-size: 1.5rem;
  }

  .coin-price-info div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    max-width: 500px;
  }

  .coin-graph {
    padding-top: 50px;
  }

  @media (max-width: 1100px) {
    .coin-price-info {
        height: max-content;
    }

    /* .coin-price-info div {
        width: 500px;
    } */
  }

  @media (min-width: 1400px) {
    .coin-price-info {
        max-width: 1040px;
    }

    .coin-price-info div {
        max-width: 500px;
    }
  }

  @media (max-width: 500px) {
    .coin-wrapper {
      overflow-y: scroll;
    }
  }