.login-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  color: white;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  z-index: 500;
}

.login-form h1 {
  padding-bottom: 20px;
}

.login-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form .form-group label {
  padding-left: 5px;
}

.login-form .form-group input {
  color: rgb(136, 136, 136);
  background-color: rgb(26, 26, 26);
  border: none;
  height: 40px;
  width: 300px;
  padding: 5px 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1.5rem;
}

.login-form .form-group input:focus {
  outline: none;
}

.login-form button {
  color: white;
  padding: 5px 20px;
  background-color: green;
  border-radius: 5px;
  cursor: pointer;
}

.login-form .form-group span {
  color: rgb(185, 1, 185);
  cursor: pointer;
}
